@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&display=swap');

:root {
    --Neutral-White: hsl(0, 0%, 100%);
    --Neutral-light-voilet: hsl(270, 3%, 87%);
    --Neutral-grey-voilet: hsl(279, 6%, 55%);
    --Neutral-dark-voilet:  hsl(278, 77%, 10%);
    --Primary-active: linear-gradient(to right,hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --Primart-false: hsl(0, 100%, 66%);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Space Grotesk', sans-serif;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}
.back-mob{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 52%;
}
.card{
    position: relative;
    width: 100%;
    height: 40.6%;
}
.back-card{
    position: absolute;
    top: 11.5%;
    left: 18%;
    z-index: 2;
    width: 77%;
}
.front-card{
    position: absolute;
    top: 17.7%;
    left: 4.5%;
    z-index: 3;
    width: 77%;
}
#card-back{
    margin-top: 11.5%;
    width: 100%;
}
#card-front{
    margin-top: 42.5%;
    width: 100%;
}
.card span{
    position: inherit;
    z-index: 4;
    color: var(--Neutral-White);
}
#front-top{
    top: 75%;
    left: 7%;
    width: 100%;
    font-size: 19px;
    letter-spacing: 2px;
    font-weight: 500;
}
#front-name{
    top: 88%;
    left: 7%;
    font-size: 10px;
    font-weight: 300;
}
#front-date{
    top: 88%;
    left: 82%;
    font-size: 10px;
    font-weight: 300;
}
#CVC{
    top: 53.5%;
    left: 79.2%;
    font-size: 10px;
    font-weight: 300;
}
#card-logo{
    position: absolute;
    width: 20%;
    top: 49%;
    left: 7%;
}
form{
    position: absolute;
    top: 44%;
    display: flex;
    flex-wrap: wrap;
    margin-inline: 9%;
}
form label{
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 8px;
    color: var(--Neutral-dark-voilet);
}
form input[type="text"]{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 12px;
    border-radius: 10px;
    border: 1px solid;
    border-color: var(--Neutral-light-voilet);
    /* transition: border 0.3s ease-in-out; */
    outline: none;
}
form input[type="text"]:focus{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 12px;
    border-image: var(--Primary-active);
    border-image-slice: 1;
    border-width: 2px;
    border-radius: 10px;
    outline: none;
}
#CardNumber{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 12px;
    border-radius: 10px;
    border: 1px solid;
    border-color: var(--Neutral-light-voilet);
    outline: none;
}
#CardNumber:focus{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 12px;
    border-radius: 10px;
    border-image: var(--Primary-active);
    border-image-slice: 1;
    border-width: 2px;
    border-radius: 10px;
}
.stupid{
    display: flex;
    width: 100%;
    margin-bottom: 25px;
}
#M{
    width: 50%;
    margin-right: 3%;
    padding: 9px 12px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid;
    border-color: var(--Neutral-light-voilet);
    outline: none;
}
#M:focus{
    width: 50%;
    margin-right: 3%;
    padding: 9px 12px;
    font-size: 18px;
    border-radius: 10px;
    border-image: var(--Primary-active);
    border-image-slice: 1;
    border-width: 2px;
    border-radius: 10px;
}
#Y{
    width: 50%;
    margin-right: 3%;
    padding: 9px 12px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid;
    border-color: var(--Neutral-light-voilet);
    outline: none;
}
#Y:focus{
    width: 50%;
    margin-right: 3%;
    padding: 9px 12px;
    font-size: 18px;
    border-radius: 10px;
    border-image: var(--Primary-active);
    border-image-slice: 1;
    border-width: 2px;
    border-radius: 10px;
    outline: none;
}
#CV{
    width: 50%;
    padding: 9px 12px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid;
    border-color: var(--Neutral-light-voilet);
    outline: none;
    display: block;
}
#CV:focus{
    width: 50%;
    padding: 9px 12px;
    font-size: 18px;
    border-radius: 10px;
    border-image: var(--Primary-active);
    border-image-slice: 1;
    border-width: 2px;
    border-radius: 10px;
    outline: none;
}
.l{
    width: 42%;
}
button{
    width: 100%;
    padding-block: 15px;
    background-color: var(--Neutral-dark-voilet);
    color: var(--Neutral-White);
    font-size: 18px;
    border-radius: 10px;
}
#date{
    width: fit-content;
    display: flex;
}
.error{
    color: var(--Primart-false);
    margin-top: 5px;
    display: block;
}
.year{
    display: flex;
    flex-direction: column;
}
.month{
    display: flex;
    flex-direction: column;
}
